/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* CODE AFTER RESET */

div {
    display: flex;
    /* To see layout, temporary: */
    outline: 1px solid black;
}

.full_height {
    height: 100vh;
}

#container {
    width: 100vw;
    background-color: black;
    justify-content: center;
}

#content {
    width: 80vw;
    background-color: white;
}

#left_panel {
    background: url(images/bg_image.jpg);
    background-size: cover;
    /* z-index: -1; */
}

.panel {
    flex-wrap: wrap;
}

.left {
    width: calc(80vw / 3);
}

.right {
    width: calc(80vw / 3 * 2);
    height: calc(100vh / 3);
}

#right_middle{
    flex-direction: column;
}

.relative_positioned{
    position: relative;
}

.absolute_positioned{
    position: absolute;
}

#left_top {
    height: calc((100vh / 3) + 5vh);
}

#left_bottom{
    height: calc((100vh / 3 * 2) - 5vh);
}

#footer {
    bottom: 0;
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}

#logo_holder {
    background-color: black;
    opacity: 0.5;
    height: 15vh;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    display: flex;
    color: white;
    font-size: 7.5vh;
    opacity: 1;
}

#logo_image {
    max-height: 10vh;
}